<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <th:block th:if="${pizzas.size() > 0}">
        <th:block
            th:replace="~{fragments/jumbo :: jumbo('https://as1.ftcdn.net/v2/jpg/03/19/71/38/1000_F_319713812_6J60pb0X8yf2VzlajNvDzxUJUf6c20yy.jpg', Menu, 'Discover our pizzas', ${pizzas[0].getId()}, false, 'Our Menu')}">
        </th:block>
    </th:block>

    <th:block th:unless="${pizzas.size() > 0}">

        <h1></h1>
    </th:block>

    <main>
        <section class="my-5">
            <div class="container">
                <div th:if="${pizzas.size() > 0}">
                    <div class="row row-cols-1 row-cols-md-3 gy-4">
                        <th:block th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <div class="col"
                                th:insert="~{fragments/card :: card(*{getImage()}, *{getName()}, *{getDescription()}, *{getPrice()}, *{getId()})}">
                            </div>
                        </th:block>
                    </div>

                </div>
                <div th:unless="${pizzas.size() > 0}">
                    <h1>No pizzas found</h1>
                </div>
            </div>
        </section>
    </main>
    <th:block th:fragment="~{fragments/footer :: footer}"></th:block>

    <div th:replace="~{fragments/resources :: scripts}"></div>

</body>

</html>